#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}
.todo-item {
  background-color: #0b0b0baa;
  margin: 1rem;
  padding: 1rem;
  border-radius: 12px;
  box-shadow: 0 4px 6px rgba(244, 244, 244, 0.023);
  display: flex;
  align-items: center;

  justify-content: space-around;

}
.boxx {
  background-color: #f0f0f0;
  border-radius: 30px;
  border: 50px 20px 20px solid white;
  margin: 2rem;
  padding: 2rem;
}
.hadder {
  color: black;
  font-size: 1rem;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
 
}

.btn {
  background-color: #4CAF50; /* Green */
  border: 5px solid white;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 12px;
}